body{
    margin: 0;
    padding: 0;
    background: 	#6495ED;
    box-sizing: border-box;
}
.box {
    display: grid;
    place-items: center; 
    height: 50vh;
}
.main_title{
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: -200px;
}
.text_box{
    border: 2px solid black;
    border-radius: 30px;
    padding: 4vh;
    align-items: left;
    justify-content: center;
    gap: 1px; 
    background-color: white;
    flex-grow: 1;
}
.add{
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    margin-left: -10px;
    padding: 10px;
}
.btn{
    align-items: center;
    padding: 12px 30px 12px 30px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: #f97d10ef;
}
.btn:hover{
    background-color: #48D1CC;
    transform: scale(1.06);
} 
ul li{
    font-size: 20px;
    margin: 10px;
    padding: 12px 8px 12px 50px;
    list-style: none;
    position: relative;
}
ul li{
    text-align: left;
    left: -40px;
}
ul li:hover{
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 10px 14px 8px rgba(0, 0, 0, 0.426); 
    border-radius: 90px;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(Freepik_\ Download\ Free\ Videos\,\ Vectors\,\ Photos\,\ and\ PSD.jpg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;
}
ul li.checked{
    color: rgba(0, 0, 0, 0.585);
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(download\ \(1\).jpg);
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: rgba(0, 0, 0, 0.186);
}

@media screen and (max-width: 768px) {
    .box {
        display: grid;
        place-items: center; 
        height: 50vh;
        text-align: center;
    }
    .text_box{
        border: 2px solid black;
        border-radius: 30px;
        padding: 2vh;
        align-items: left;
        justify-content: center;
        gap: 1px; 
        background-color: rgb(255, 255, 255);
        flex-grow: 1;
    }   
   .main_title{
    margin-bottom: 40px;
    margin-top: 1px;
    margin-left: -200px;
    }
    .add{
        border: 2px solid black;
        border-radius: 40px;
        background-color: rgb(255, 255, 255);
        margin-left: -10px;
        padding: 10px;
    }
    .btn{
        align-items: center;
        padding: 12px 20px 12px 30px;
        border: 2px solid black;
        border-radius: 40px;
        background-color: #f97d10ef;
    }
    .btn:hover{
        background-color: #77e135d9;
        transition: (1.2s);
    } 
    ul li{
        font-size: 20px;
        margin: 10px;
        padding: 12px 8px 12px 50px;
        list-style: none;
        position: relative;
    }
    ul li{
        text-align: left;
        left: -40px;
    }
    ul li:hover{
        cursor: pointer;
    }
    ul li::before{
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-image: url(Back\ Template\ for\ Large\ Diorama.jpg);
        background-size: cover;
        background-position: center;
        top: 12px;
        left: 10px;
    }
    ul li.checked{
        color: rgba(0, 0, 0, 0.7);
        text-decoration: line-through;
    }
    ul li.checked::before{
        background-image: url(download\ \(1\).jpg);
    }
    ul li span{
        position: absolute;
        right: 0px;
        top: 5px;
        width: 40px;
        height: 40px;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
    }
    ul li span:hover{
        background-color: rgba(0, 0, 0, 0.186);
    }
}